.search-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#map {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 300px; /* Adjust as needed */
  right: 0;
  bottom: 0;
  height: 500px;
}
/* search.css */
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 100%;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl .suggestions {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  width: 200px;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl .suggestions li {
  list-style-type: none;
  padding: 8px 12px;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl .suggestions li:hover {
  background-color: #f4f4f4;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl .suggestions .suggestions-title {
  font-weight: bold;
  padding: 8px 12px;
}